.hozi-dev-article-content {
  background: #FFF;
  border-radius: 15px;
  padding: 0px 16px 16px;
  color: #333;
  a {
    word-break: break-all;
    color: #50ab00;
  }
  a:visited {
    word-break: break-all;
    color: #6200ac;
  }

  h1,
  h2,
  h3 {
    .header-anchor,
    .header-anchor:visited {
      color: #FFF;
      background-color: #FFF;
    }
    .header-anchor:hover {
      color:#50ab00;
    }
  }

  @include mq(sm) {
    padding: 8px;
  }

  h1 {
    margin-top: 1.5em;
    padding-bottom: 0.2em;
    margin-bottom: 1.1rem;
    font-size: 1.7em;
    position: relative;
    // border-bottom: solid 4px $c-primary-bg
    border-left:solid 4px $c-primary-bg;
    padding-left: 10px;
  }

  h2 {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: solid 2px #C4C4C4;
    position: relative;
    padding-bottom: 0.4em;
  }

  h2:after {
    content: "";
    display: block;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 20%;
    border-bottom: 2px solid $c-primary-bg;
  }

  h3 {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1em;
  }

  h5,

  h6 {
    color: #000;
  }

  h6 {
    font-size: 0.85em;
  }

  p {
    line-height: 1.9;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }

  ul {
    margin-top: 10px;
    padding-left: 1.5em;
    list-style-type: disc;
    color: #333;
  }

  ul li::marker {
    color: $c-primary-bg;
  }

  // ul > *:last-child {
  //    margin-bottom: 0;
  // }

  ul > li {
    margin-bottom: 13px;
  }

  blockquote{
      position:relative;
      border-left:3px solid $c-primary-bg;
      padding-left:10px;
  }
  blockquote:before{
      position:absolute;
      font-family:'FontAwesome';
      content:'\f10d';
      font-size: 20px;
      color: $c-primary-bg;
  }
  blockquote p{
      position:relative;
      padding-left:30px;
  }
  blockquote cite{
      display: block;
      font-size:0.8rem;
      color: $c-primary-bg;
      text-align:right;
  }

  code:not([class]) {
    padding: 0.0em 0.4em;
    color: #e01e5a;
    border: 1px solid #00000024;
    border-radius: 3px;
  }

  th {
    background-color: $c-primary-bg;
    color: #FFF;
    border: 1px solid #000;
    padding: 5px;
  }

  td {
    background-color: #FFF;
    border: 1px solid #000;
    padding: 10px;
  }

  @include mq(sm) {
    h1 {
      font-size: 1.6em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 1.1em;
    }
    h5 {
      font-size: 1em;
    }
    h6 {
      font-size: 0.85em;
    }
  }
}
