hozi-dev-article-content {
  background: var(--bg-color);
  border-radius: 15px;
  padding: 0px 16px 16px;
  color: var(--text-color);
  a {
    word-break: break-all;
    color: var(--tag-a-color);
  }
  a:hover {
    color: var(--tag-a-hover-color);
  }
  a:visited {
    word-break: break-all;
    color: var(--tag-a-visted-color);
  }

  h1,
  h2,
  h3,
  h4 {
    &:not(:first-child):before {
      display: block;
      content: "";
      margin-top: -240px;
      height: 240px;
      visibility: hidden;
    }
  }

 .anchor-link {
   &:hover:before {
     opacity: 1;
   }
   &:before {
     position: absolute;
     left: -30px;
     bottom: 11px;
     content: "";
     display: block;
     width: 20px;
     height: 20px;
     background: url(/images/icons/anchor-link.svg) no-repeat 50%;
     background-size: contain;
     opacity: 0;
   }
 }

  @include mq(sm) {
    padding: 8px;
  }

  h1 {
    margin-top: 2.5em;
    padding-bottom: 0.2em;
    margin-bottom: 1.1rem;
    font-weight: bold;
    font-size: 1.7em;
    position: relative;
    border-bottom: solid 1px var(--tag-h1-border-line-color);
    //display:inline-block;
  }

  h2 {
    margin-top: 2.0em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: solid 1px var(--tag-h2-border-line-color);
    position: relative;
    padding-bottom: 0.4em;
  }

  h2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 20%;
    border-bottom: 1px solid var(--tag-h2-border-line-after-color);
  }

  h3 {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.85em;
  }

  p {
    line-height: 1.9;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }

  ul {
    margin-top: 10px;
    padding-left: 1.5em;
    list-style-type: disc;
  }

  ul li::marker {
    color: var(--text-color);
  }

  // ul > *:last-child {
  //    margin-bottom: 0;
  // }

  ul > li {
    margin-bottom: 13px;
  }

  blockquote{
      position:relative;
      border-left:3px solid var(--text-color);
      padding-left:10px;
  }
  blockquote p{
      position:relative;
      padding-left: 16px;
  }
  blockquote cite{
      display: block;
      font-size:0.8rem;
      color: var(--tag-blockquote-color);
      text-align:right;
  }

  code:not([class]) {
    padding: 0.0em 0.4em;
    color: var(--tag-code-color);
    background-color: var(--tag-code-background-color);
    border-radius: 5px;
  }

  table {
    margin: 1.2rem auto;
    width: auto;
    border-collapse: collapse;
    font-size: 0.95em;
    line-height: 1.5;
    word-break: normal;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  th {
    background-color: var(--tag-th-background-color);
    color: var(--tag-th-color);
    border: 1px solid var(--tag-th-border-color);
    padding: 5px;
  }

  td {
    background-color: var(--tag-td-background-color);
    border: 1px solid var(--tag-td-border-color);
    padding: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: table;
    margin: 1.5rem auto;
  }

  @include mq(sm) {
    h1 {
      font-size: 1.6em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 1.1em;
    }
    h5 {
      font-size: 1em;
    }
    h6 {
      font-size: 0.85em;
    }
  }
}

.hozi-dev-article-content-light {
  --bg-color: #FFF;
  --text-color: #333;
  --article-area-color: #F7FAFC;
  --tag-a-color: #5C6EB1;
  --tag-a-hover-color: #6686FF;
  --tag-a-visted-color: #6200ac;
  --tag-th-background-color: #525457;
  --tag-th-color: #FFF;
  --tag-th-border-color: #FFF;
  --tag-td-background-color: #FFF;
  --tag-td-border-color: #000;
  --tag-h1-border-line-color: #C4C4C4;
  --tag-h2-border-line-color: #C4C4C4;
  --tag-h2-border-line-after-color: #525457;
  --tag-blockquote-color: #525457;
  --tag-code-background-color: rgb(27 31 35 / 5%);
  --tag-code-color: #333;

  @extend hozi-dev-article-content;
}

.hozi-dev-article-content-dark {
  @extend hozi-dev-article-content;
  --bg-color: #2d333b;
  --text-color: #c9d5e1;
  --article-area-color: #2D333B;
  --tag-a-color: #c9d5e1;
  --tag-a-hover-color: #539bf5;
  --tag-a-visted-color: #539bf5;
  --tag-th-background-color: #2d333b;
  --tag-th-color: #c9d5e1;
  --tag-th-border-color: #c9d5e1;
  --tag-td-background-color: #2d333b;
  --tag-td-border-color: #c9d5e1;
  --tag-h1-border-line-color: #c9d5e1;
  --tag-h2-border-line-color: #584F45;
  --tag-h2-border-line-after-color: #c9d5e1;
  --tag-blockquote-color: #525457;
  --tag-code-background-color: rgb(69 75 83);
  --tag-code-color: #c9d5e1;

  @extend hozi-dev-article-content;
}
